@font-face {
  font-family: "WalkTogether";
  src: url("/fonts/walktogether.ttf") format("truetype");
}

body,
.markdown-preview-view,
.markdown-source-view,
.table-view-table {
  font-family: "WalkTogether", -apple-system, BlinkMacSystemFont, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  line-height: 1.6;
  font-size: 15px;
}