@font-face {
  font-family: "WalkTogether";
  src: url("/fonts/walktogether.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  --font-text: "WalkTogether", sans-serif;
  --font-interface: "WalkTogether", sans-serif;
  --font-monospace: "WalkTogether", monospace;
  text-rendering: optimizeLegibility;
  font-weight: 500;
  line-height: 1.6;
  font-size: 15px;
}
